
<footer class="footer" style="padding:2rem">
  <div class="content has-text-centered">
    <div class="columns is-multiline is-vcentered">

      <div class="column is-one-third">
        <p class="has-text-left">

          <a style="color:#211a1e" href="https://stmarych.com//" target="_blank" rel="noopener noreferrer">
            <strong>St Mary's Mother of the Church</strong>
          </a>
        </p>
      </div>

      <div class="column is-one-third">
        <p class="is-size-7 has-text-centered">
          <small>
            St. Mary's Pack 156 - Scouting America<br>
          </small>
        </p>
      </div>

      <div class="column is-one-third">
        <p class="has-text-right">
          <a href="{{ site.socials.facebook }}" class="icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="{{ site.socials.email }}" class="icon">
            <i class="fas fa-envelope fa-lg"></i>
          </a>
        </p>
        <p class="has-text-right is-size-7">
          <small>© Ryan Maddox - 2025</small>
        </p>
      </div>

    </div>
  </div>
</footer>
