<footer class="footer my-custom-color">
  <div class="content has-text-centered">
    <div class="columns is-multiline is-vcentered">

      <div class="column is-one-third">
        <p class="has-text-left">
          <strong>Lafayette Parish Democratic Executive Committee</strong>
          <br>
          <a href="https://louisianadems.org/" target="_blank" rel="noopener noreferrer">Louisiana Democratic Party</a>
        </p>
      </div>

      <div class="column is-one-third">
        <p class="is-size-7 has-text-centered">
          <small>
            Paid for by the Lafayette Parish Democratic Executive Committee. <br>
            Not authorized by any candidate or candidate's committee.
          </small>
        </p>
      </div>

      <div class="column is-one-third">
        <p class="has-text-right">
          <a href="{{ site.socials.facebook }}" class="icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="{{ site.socials.email }}" class="icon">
            <i class="fas fa-envelope fa-lg"></i>
          </a>
        </p>
        <p class="has-text-right is-size-7">
          <small>© 2025 Lafayette Parish Democratic Executive Committee</small>
        </p>
      </div>

    </div>
  </div>
</footer>
