  <nav class="navbar" style="background-color: #031d44;" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <img src="/images/background/cub-scout-logo-55x55.png" alt="Cub Scout Troop Logo" />
      <a role="button" class="navbar-burger"  aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true" style="color: #F8CF6A"></span>
        <span aria-hidden="true" style="color: #F8CF6A"></span>
        <span aria-hidden="true" style="color: #F8CF6A"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/pack156/">Our Pack</a>
        <a class="navbar-item" href="/leadership/">Leadership</a>
        <a class="navbar-item" href="/contact/">Join our Pack</a>
        <a class="navbar-item" href="/calendar/">Calendar</a>
        <a class="navbar-item" href="/adventures/">Adventures</a>
      </div>
    </div>
  </nav>
