---
layout: layouts/base.njk
title: Leadership
---
<section class="section">
  <div class="container px-4">
    <div class="columns is-multiline is-flex is-align-items-stretch mt-4">
      {% for leader in collections.leader %}
        <div class="column is-6-mobile is-6-tablet is-3-desktop">
          <a href="{{ leader.url }}">
            <div class="card">
              {% if leader.data.photo %}
                <div class="card-image">
                  <figure class="image">
                    <div class="image-container">
                      <img src="{{ leader.data.photo }}" alt="{{ leader.data.name }}">
                    </div>
                  </figure>
                </div>
              {% endif %}

              <div class="card-content has-text-centered">
                <p class="title is-6">{{ leader.data.name }}</p>
                {% if leader.data.pronouns %}
                <p class="subtitle is-7">{{ leader.data.pronouns }}</p>
                {% endif %}
                <p class="subtitle is-7">{{ leader.data.role }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
