---
layout: layouts/base.njk
title: Leadership
---
<section class="section">
  <div class="container px-4">
    <div class="columns is-multiline is-flex is-align-items-stretch mt-4">
      {% for leader in collections.leadership %}
        <div class="column is-6-mobile is-6-tablet is-3-desktop">
          <a href="{{ leader.url }}">
            <div class="card">
              {% if leader.data.photo %}
                <div class="card-image">
                  <figure class="image is-4by3">
                    <div class="image-container">
                      <img src="{{ leader.data.photo }}" alt="{{ leader.data.name }}">
                    </div>
                  </figure>
                </div>
              {% endif %}
              <div class="card-content has-text-centered">
                <div class="is-flex is-align-items-center is-justify-content-center">
                  <p class="title is-6 mb-0">{{ leader.data.name }}</p>

                  {% if leader.data.rank_photo %}
                    <img class="image is-48x48 ml-2" src="{{ leader.data.rank_photo }}" alt="{{ leader.data.rank }}">
                  {% endif %}
                </div>

                {% if leader.data.rank %}
                  <p class="subtitle is-7 mt-0">{{ leader.data.rank }}</p>
                {% endif %}

              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
