---
layout: "layouts/base.njk"
title: "Our Adventures"
permalink: "/adventures/index.html"
eleventyNavigation:
  key: "Adventures"
  order: 4
---

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">{{ title }}</h1>

    <div class="columns is-multiline is-centered">
      {% for adventure in collections.adventures %}
      <div class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile">
        <div class="card" style="border-radius: 12px; overflow: hidden; box-shadow: none; border: 1px solid #eee;">
          <div class="card-image">
            <figure class="image is-square">
              <a href="{{ adventure.url }}">
                <img src="{{ adventure.data.cover_photo }}" 
                    alt="{{ adventure.data.title }}"
                    style="object-fit: cover;">
              </a>
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <a href="{{ adventure.url }}" 
              class="has-text-black" 
              style="text-decoration: none;">
              <p class="title is-4" style="font-weight: 800;">
                {{ adventure.data.title }}
              </p>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
