---
layout: "layouts/base.njk"
---

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-full has-text-centered">
        <h1 class="title is-2">{{ title }}</h1>
      </div>

      <div class="column is-full has-text-centered">
        <figure class="image">
          <img src="{{ cover_photo }}" alt="{{ title }}">
        </figure>
      </div>

      <div class="column is-full has-text-left mt-5">
        <div class="content">
          {% if description %}
            <h3>Description</h3>
            {{ description | safe }}
          {% endif %}

          {% if people %}
            <h3>People in this Photo</h3>
            <ul>
              {% for person in people %}
              <li>{{ person.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="column is-full has-text-centered mt-5">
        <h2 class="title is-4">Album</h2>
        <div class="columns is-multiline is-centered">
          {% for item in photos %}
            {{ item | dump}}
            <div class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile">
              <figure class="image is-square">
                <img src="{{ item.photo }}" alt="{{ title }}">
              </figure>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
