---
layout: "layouts/base.njk"
---

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full has-text-centered">
        <h1 class="title is-2">{{ title }}</h1>
        <figure class="image">
          <img src="{{ photo }}" alt="{{ title }}">
        </figure>
      </div>

      <div class="column is-full has-text-left mt-5">
        <div class="content">
          {% if description %}
            <h3>Description</h3>
            {{ description | safe }}
          {% endif %}

          {% if people %}
            <h3>People in this Photo</h3>
            <ul>
            {% for person in people %}
              <li>{{ person.name }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
