<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcYf9H4xI5zG2uK3sQkLqEwJc1U7xU7h7jX5B2p1LwG9C2yM6V3U7N2t2l1j0L9/wz0j8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="flex-body">
  <header>

    <!-- Navbar -->
    {% include "navbar.njk" %}
  </header>
  <main class="flex-main">



    <!-- Navbar burger functionality -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
        {{ content | safe }}
  </main>
  <footer>
    {% include "footer.njk" %}
  </footer>
</body>
</html>
